@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+CA:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Telex&family=TikTok+Sans:opsz,slnt,wght@12..36,-1,300..900&display=swap');

.heding{
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.bookCardImg{
  transition: .3s ease-in-out;
}
.bokCard:hover .bookCardImg{
  transform: scale(1.2);
}